@import url(http://fonts.googleapis.com/css?family=Six+Caps);

@import url(http://fonts.googleapis.com/css?family=Oswald:700);

//font-family: 'Six Caps', sans-serif !important;
//
@font-face {
    font-family: 'Thunderhouse';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/thunderhouse.eot);
    src: local("Thunderhouse"), local("Thunderhouse"), url(/fonts/thunderhouse.eot) format("embedded-opentype"), url(/fonts/thunderhouse.woff) format("woff");
}


//font-family: 'Thunderhouse', sans-serif !important;