<div id="hero-module" class="row">

  <div id="social-wrapper">
    <ul>
      <li>Share:</li>
      <li>
        <ul>
          <li>Twitter</li>
          <li>Facebook</li>
      </li>
    </ul>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="left-col">
      <h1>#HoosierDriver</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
    </div>
    <div class="right-col">
      <div id="video"></div>
      <div id="live-container"></div>
    </div>
</div>