/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import "./partials/_h5bp";

// @import "./partials/_h5reset";
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "./partials/_fonts";
@import "./partials/_bootstrap";
@import "./partials/flipclock";

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

@mixin grain {
    content: '';
    width: 2404px;
    height: 1062px;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("./images/grain.png");
    background-size: 2404px 1062px;
    display: block;
    position: absolute;
    top: 0;
    left: -601px;
    margin-left: 50%;
}

$indyBlue: #0022B8;
$indyRed: #e3172f;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    background-color: #fff;
    box-sizing: border-box;
    min-height: 100%;
    font-size: 19px;
}

.btn, a {
    font-family: 'Six Caps', sans-serif;
}

img.responsive {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.container-fluid {
    max-width: 3357px;
    margin: 0 auto;
}

.logo {
    width: 160px;
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("./images/logo.png");
    background-size: 160px 80px;
    display: block;
    text-indent: -9999px;
}

ul {
    list-style-type: none;

    li {
        float: left;
        display: inline-block;

        a {
            font: 18px/1 'Six Caps', 'Helvetica Neue', Helvetica, Arial, sans-serif #fff;
            text-transform: uppercase;
        }
    }
}

.row {
    margin: 0 auto;
    max-width: 1020px;

    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            text-decoration: none;
            color: #fff;
        }

        &:active {
            text-decoration: none;
            color: #fff;
        }

        &:visited {
            text-decoration: none;
            color: #fff;
        }
    }

    &#header-module {
        min-height: 206px;
        padding-top: 20px;
        max-width: 1068px;

        > div {
            max-width: 1020px;
            margin: 0 auto;

            &::before {
                @include grain;
            }
        }

        ul {
            height: 40px;
            margin-top: 10px;

            li {
                width: 49%;
                border-right: 1px solid #fff;
                text-align: center;

                &:last-child {
                    border-right: none;
                }

                a {
                    font-size: 18px;
                    letter-spacing: 1px;
                    padding: 0;
                    width: 100%;
                    box-sizing: border-box;
                    display: inline-block;
                    height: auto;
                }
            }
        }
    }

    &#hero-module {
        margin-top: -90px;

        > div {
            padding: 0 0 290px 0;
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: 0 560px;
            background-image: url("./images/3men.png");

            .left-col {
                padding: 0;

                img {
                    display: block;
                    margin-bottom: 40px;
                }

                h1 {
                    width: 0;
                    height: 0;
                    text-indent: -9999px;
                    margin: 0;
                }
            }

            .right-col {
                padding: 0;
                padding-top: 220px;
            }

            p {
                font-size: 18px;
                line-height: 1.6;
                font-family: $helvetica;
                color: $indyRed;
            }
        }
    }

    &#support-module {
        max-width: 1068px;
        max-width: 1068px;
        background-position: center -66px;
        padding-top: 139px;
        margin-top: -184px;

        > div {
            margin: 0 auto;
            background-color: $indyBlue;
            float: left;
            padding: 0 24px;

            &::before {
                @include grain;
            }
        }
    }
}

#video {
    display: block;
    background-color: $indyRed;
    width: 100%;
    height: 293px;
    margin: 0 auto 70px auto;

    img {
        width: 100%;
        min-height: 75%;
    }
}

.container {
    > div {
        position: relative;
        overflow: hidden;
    }
}

.diag {
    width: 100%;
    height: auto;
    background-clip: padding-box;
    background-position: center center;
    background-repeat: no-repeat;

    &.red {
        background-image: url("./images/diagnol-red.png");
        padding-bottom: 47px;
    }

    &.blue {
        background-image: url("./images/diagnol-blue.png");
    }
}

#social-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    > ul > li {
        float: right;
        height: 40px;
        line-height: 40px;
        font-family: $helvetica;
        font-size: 14px;

        ul {
            float: right;
            padding: 0;

            li {
                text-indent: -9999px;
                width: 40px;
                height: 40px;
                background-size: 40px 40px;
                background-repeat: no-repeat;
                background-position: center center;
                margin-left: 10px;

                &.btn-tw {
                    background-image: url("./images/share-tweet.png");
                }

                &.btn-fb {
                    background-image: url("./images/share-fb.png");
                }

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}