/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import "./partials/_h5bp";

// @import "./partials/_h5reset";
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "./partials/_fonts";
@import "./partials/_bootstrap";
@import "./partials/flipclock";
@import "./partials/_mediawall";
@import "./partials/video-js";

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

@mixin indyButton {
    background-color: $indyRed;
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0 50px;
    line-height: 60px;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@mixin grain {
    content: '';
    width: 2404px;
    height: 1062px;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("./images/grain.png");
    background-size: 2404px 1062px;
    display: block;
    position: absolute;
    top: 0;
    left: -601px;
    margin-left: 50%;
}

$indyBlue: #0022B8;
$indyRed: #e3172f;
$indyRedDark: #c91429;

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$thunderhouse: "Thunderhouse", sans-serif;
$thunderhouse: "Thunderhouse", sans-serif;
$sixCaps: "Six Caps", sans-serif;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    background-color: #fff;
    box-sizing: border-box;
    min-height: 100%;
    font-size: 19px;
}

.btn,
[data-lf-package~="streamhub-wall#3.5.0"] .hub-list-more {
    font-family: $sixCaps;
}

img.responsive {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.container-fluid {
    max-width: 3357px;
    margin: 0 auto;
}

.container {
    > div {
        position: relative;
        overflow: hidden;
    }
}

.logo {
    width: 160px;
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("./images/logo.png");
    background-size: 160px 80px;
    display: block;
    text-indent: -9999px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        display: inline-block;

        a {
            font: 18px/1 'Six Caps', 'Helvetica Neue', Helvetica, Arial, sans-serif #fff;
            text-transform: uppercase;
        }
    }
}

.row {
    margin: 0 auto;
    // max-width: 1068px;
    padding: 0 12px;

    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            text-decoration: none;
            color: #fff;
        }

        &:active {
            text-decoration: none;
            color: #fff;
        }

        &:visited {
            text-decoration: none;
            color: #fff;
        }
    }

    .btn-indy,
    [data-lf-package~="streamhub-wall#3.5.0"] .hub-list-more,
    #wallTweet,
    #wallShowMore {
        @include indyButton;

        &:hover {
            background-color: $indyRedDark !important;
        }
    }

    h2 {
        font-family: $thunderhouse;
        text-align: center;
        font-size: 7.2rem;
        margin: 0 0 105px 0;
        color: $indyRed;
        line-height: 1;
        letter-spacing: 1px;

        &.submissions {
            position: relative;
            padding: 0 100px;
        }
    }

    p {
        margin: 0;
    }

    /* HEADER & NAV */
    &#header-module {
        min-height: 206px;
        padding-top: 20px;
        position: relative;
        overflow: hidden;

        > div {
            max-width: 1020px;
            margin: 0 auto;

            &::before {
                @include grain;
            }
        }

        ul {
            height: 40px;
            margin-top: 10px;
            padding: 0 0 0 36px;

            li {
                width: 50%;
                border-right: 1px solid #fff;
                box-sizing: border-box;

                &:last-child {
                    border-right: none;

                    a {
                        padding-right: 0 !important;
                        text-align: right !important;
                    }
                }

                &:first-child {
                    a {
                        padding-left: 0 !important;
                    }
                }

                a {
                    font-size: 1.2rem;
                    letter-spacing: 1px;
                    width: 100%;
                    box-sizing: border-box;
                    display: inline-block;
                    height: auto;
                    font-family: $helvetica;
                    padding: 0 4px;
                }
            }
        }
    }

    /* HERO VIDEO PLAYER */
    &#hero-module, &#buy-module {
        margin-top: -90px;
        position: relative;
        overflow: hidden;

        > div {
            padding-bottom: 290px;

            .heroes {
                position: absolute;
                bottom: -80px;
            }

            .left-col {
                padding: 0;

                img {
                    display: block;
                    margin-bottom: 40px;
                }

                h1 {
                    width: 0;
                    height: 0;
                    text-indent: -9999px;
                    margin: 0;
                }
            }

            .right-col {
                padding: 0;
                padding-top: 220px;
            }

            p {
                font-size: 18px;
                line-height: 1.6;
                font-family: $helvetica;
                color: $indyRed;
                font-weight: normal;
            }
        }
    }

    /* FOLLOW THESE STEPS */
    &#support-module {
        background-position: center 0;
        padding-top: 205px;
        margin-top: -240px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        overflow: hidden;

        h2 {
            color: white;
            margin: 50px 0 20px 0;
            text-align: center;
        }

        p {
            color: #fff;
            text-align: center;
            font-family: $helvetica;
            font-size: .9em;
            line-height: 1.4;
            font-weight: normal;
            padding: 0 15px;
        }

        ul {
            li {
                margin-bottom: 60px;
            }
        }

        .star {
            position: relative;
            width: 100%;
            margin-bottom: 20px;

            p {
                font-family: $sixCaps;
                line-height: 77px;
                position: relative;
                font-size: 24px;
            }

            &:before {
                content: '';
                width: 90px;
                height: 77px;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("./images/star.png");
                background-size: 90px 77px;
                display: block;
                position: absolute;
                left: 50%;
                margin-left: -45px;
            }
        }

        > div {
            margin: 0 auto;
            background-color: $indyBlue;
            float: left;
            padding: 0 24px 180px 24px;
            width: 100%;

            &::before {
                @include grain;
            }
        }
    }

    &#social-counter-moudle {
        padding: 150px 0 0 0;
        background-size: 1096px 374px;
        background-repeat: no-repeat;
        background-position: 10% bottom;
        background-image: url("./images/2cars.png");

        h2 {
            margin: 0;
        }
    }

    &.mediawall-module {
        padding: 140px 0;
    }

    /* TOP SUBMISSIONS MEDIA WALL */
    &#top-submissions-module, &#more-submissions-module {
        > div {
            text-align: center;
        }

        .tripple {
            width: 83px;
            height: 50px;
            background-size: 100% 17px;
            background-repeat: no-repeat;
            background-position: 0 center;
            display: inline-block;

            &.front-stars {
                background-image: url("./images/3stars-front.png");
                margin-right: 10px;
            }

            &.back-stars {
                background-image: url("./images/3stars-back.png");
                margin-left: 10px;
            }
        }

        h2 {
            display: inline-block;
        }
    }

    &#trending-module, &#poll-module {
        background-color: $indyBlue;
        padding-top: 130px;
        padding-bottom: 150px;
        position: relative;
        overflow: hidden;

        h2 {
            color: #fff;
            text-align: left;
            margin-bottom: 0;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
            font-family: $helvetica;
            color: #fff;
            font-weight: normal;
        }

        > div {
            &::before {
                @include grain;
            }
        }
    }

    // @for $i from 1 through 20 {
    //     div.inn {
    //         background-position-x: 0;
    //         background-position-y: (10px * $i) !important;
    //     }
    // }

    &#trending-module {
        [data-lf-package="trends-component#0.2.1"] {
            .hub-metric-list {
                .hub-metric {
                    border: none;
                    margin: 0 0 4px 0;
                    background-color: rgba(0, 0, 0, 0.1);
                    padding: 0 30px 0 0;
                    height: 60px;

                    &:first-child {
                        border-radius: 0;
                    }

                    &:last-child {
                        border-radius: 0;
                    }

                    .hub-metric-container {
                        .hub-metric-rank {
                            background-color: $indyRed;
                            height: 60px;
                            width: 80px;
                            border-radius: 0;

                            .hub-metric-rank-value {
                                height: 60px;
                                width: 80px;

                                &:before {
                                    line-height: 60px;
                                    font-family: $sixCaps;
                                    font-size: 2.4rem;
                                }
                            }
                        }

                        .hub-metric-details {
                            padding-left: 80px;
                            margin: 0;

                            .hub-metric-label {
                                color: #fff;
                                font-size: 1.4rem;
                                line-height: 1.2;
                                margin: 0 0 16px 12px;
                                padding-top: 16px;
                            }

                            .hub-metric-bar-container {
                                margin: 0;
                                height: 12px;

                                .hub-metric-bar {
                                    border-radius: 0;
                                    background-color: #fff;
                                    height: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &#poll-module {
        .lf-poll
        .lf-poll-btn {}
    }

    &#buy-module {
        margin-top: 0;
        padding-top: 150px;
        max-height: 740px;

        > div {
            h2 {
                text-indent: -9999px;
                width: 0;
                height: 0;
                margin: 0;
            }

            .right-col {
                padding: 0;
                margin-top: -90px;
            }
        }
    }

    &#footer-module {
        background-position: center -66px;
        padding-top: 140px;
        margin-top: -136px;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        overflow: hidden;
        box-sizing: border-box;
        display: block;
        position: relative;

        &::after {
            @include grain;
        }

        > div {
            background-color: $indyRed;
            float: left;
            color: #fff;
            width: 100%;
            padding-bottom: 70px;

            > * {
                position: relative;
                z-index: 3;
            }

            > ul {
                display: block;
                margin: 0 auto;
                float: right;
                position: relative;
                right: 50%;
                text-align: center;

                > li {
                    display: inline-block;
                    float: left;
                    position: relative;
                    left: 50%;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }
            }
        }

        .logo {
            margin: 0 auto;
            width: 130px;
            height: 70px;
            margin-bottom: 15px;
            background-size: 130px 70px;
        }
    }

    &#hero-module,
    &#buy-module,
    &#top-submissions-module,
    &#more-submissions-module,
    &#support-module > div > div,
    &#trending-module > div,
    &#poll-module > div {
        max-width: 1068px;
        margin-left: auto;
        margin-right: auto;
    }
}

#video {
    display: block;
    width: 100%;
    height: auto;
    max-width: 510px;
    margin: 0 auto 70px auto;

    img {
        width: 100%;
        min-height: 75%;
    }
}

#video {
    .vjs-big-play-button {
        display: none;
    }
}

.lf-media-wall {
    position: relative;
    text-align: center;

    &:after {
        font-size: 36px;
        font-family: $helvetica;
        line-height: 600px;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        text-align: center;
        width: 100%;
    }
}

/* DIAGNOL CLASSES */
.diag {
    width: 100%;
    height: auto;
    background-clip: padding-box;
    background-position: center center;
    background-repeat: no-repeat;

    &.red {
        background-image: url("./images/diagnol-red.png");
        padding-bottom: 47px;
    }

    &.blue {
        background-image: url("./images/diagnol-blue.png");
    }

    &.flipped {
        background: none;

        &:before {
            background-image: url("./images/diagnol-red.png");
            background-clip: padding-box;
            background-position: center center;
            background-repeat: no-repeat;
            content: "";
            width: 3357px;
            height: 206px;
            position: absolute;
            top: -66px;
            left: -50%;
            z-index: 0;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}

/* SHARE ICONS */
#social-wrapper {
    position: absolute;
    top: 0;
    right: 12px;
    z-index: 1;

    > ul > li {
        float: right;
        height: 40px;
        line-height: 40px;
        font-family: $helvetica;
        font-size: 14px;

        ul {
            float: right;
            padding: 0;

            li {
                text-indent: -9999px;
                width: 40px;
                height: 40px;
                background-size: 40px 40px;
                background-repeat: no-repeat;
                background-position: center center;
                margin-left: 10px;

                &.btn-tw {
                    background-image: url("./images/share-tweet.png");
                }

                &.btn-fb {
                    background-image: url("./images/share-fb.png");
                }

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

$flip_height_L: 170px;
$flip_width_L: 135px;
$flip_fontsize_L: 12rem;

/* FLIP CLOCK */
#counter-wrapper {
    float: right;
    position: relative;
    right: 50%;
    width: auto;
    padding-bottom: 200px;

    .flip-clock-wrapper {
        float: left;
        position: relative;
        left: 50%;
        width: auto;
        margin-top: 40px;
    }

    .counter {
        .comma {
            &:before {
                height: $flip_height_L;
                left: -33px;
                bottom: -65px;
            }
        }
    }

    .flip-clock-wrapper ul {
        width: $flip_width_L;
        height: $flip_height_L;

        li {
            a {
                cursor: default;

                div {
                    div.inn {
                        font-size: $flip_fontsize_L;
                        line-height: $flip_height_L;
                    }
                }
            }
        }
    }
}